.about-project {
  display: flex;
  flex-direction: column;
  margin: 0 0 80px;
}

.about-project__image {
  width: 100%;
  margin: 0 auto;
}

.about-project__description {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 700px;
  margin: 0 auto 32px;
}

.about-project__apartments {
  display: flex;
  flex-direction: column;
}

.about-project__heading {
  margin: 0 auto 24px;
  font-family: "Ardeco", "Montserrat", serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
}
