.apartments {
  padding: 80px 0 0;
  max-width: 1000px;
  margin: 0 auto 80px;
}

.apartments__wrapper {
  display: grid;
  grid-template-columns: 420px 360px;
  align-items: center;
  justify-content: space-between;
  column-gap: 220px;
  margin: 0 0 80px;
}

.apartments__icon {
  display: flex;
}

.apartments__icon,
.apartments__description {
  margin: 0 0 32px;
}

.apartments__description {
  font-size: 18px;
  line-height: 24px;
}

.apartments__text {
  margin: 0 0 16px;
  line-height: 22px;
  font-weight: 300;
}

.apartments__list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin: 0;
  padding: 0 0 0 16px;
}

.apartments__list-item {
  line-height: 22px;
  font-weight: 300;
}

.apartments--location {
  padding: 0;
}

.apartments--location .apartments__wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.apartments--location .apartments__content {
  max-width: 420px;
}

.apartments--location .benefit {
  border-radius: 180px 180px 0 0;
  width: 360px;
  min-height: 480px;
}

.apartments--location .apartments__heading {
  font-family: "Ardeco", "Montserrat", serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 60px;
  margin: 0 0 24px;
  text-transform: uppercase;
}

.apartments--location .apartments__description {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
