.btn {
  font-family: "Montserrat", "Arial", sans-serif;
  background: none;
  color: #ffffff;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__button-lang {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

/* .header__button-save {
  border: 1px solid #ffffff;
} */

.header__button-choice {
  border: 2px solid #ffffff;
  border-radius: 60px;
  padding: 12px 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
