.header__wrapper {
  display: grid;
  grid-template-columns: 1fr 204px 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 16px;
}

.header__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.header__left {
  display: flex;
  margin: 0;
}

.header__link-icon {
  margin-right: 142px;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__rigt-links {
  display: flex;
  margin-left: 126px;
}

.header__right-lang {
  margin: auto 20px auto 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.header__right-save {
  margin: auto 20px auto 0;
  border: 1px solid #2A52A3;
}

.header__right-choice {
  border: 2px solid #ffffff;
  border-radius: 60px;
  padding: 12px 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.header__phone {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;;
}
