.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 50px 0;
}

.hero__heading {
  font-family: "Ardeco", "Arial", sans-serif;
  font-size: 70px;
  line-height: 70px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0 48px;
}

.hero__image {
  margin: 0;
  width: 100%;
  height: revert-layer;
}
